### Pandas Ungraded Lab - Bridge Data

Last updated: Jan 14, 2022

**INSTRUCTIONS**  
Follow the instructons below to answer the questions.

In [2]:
import pandas as pd

Import the bridges dataset from UCI

In [3]:
data_path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/bridges/bridges.data.version1'

Read in the dataset (checking if there is header data or not; you'll need to control for that)

In [5]:
data = pd.read_csv(data_path)
data.head()

   E1  M   3  1818   HIGHWAY     ?  2  N  THROUGH  WOOD   SHORT  S WOOD.1
0  E2  A  25  1819   HIGHWAY  1037  2  N  THROUGH  WOOD   SHORT  S   WOOD
1  E3  A  39  1829  AQUEDUCT     ?  1  N  THROUGH  WOOD       ?  S   WOOD
2  E5  A  29  1837   HIGHWAY  1000  2  N  THROUGH  WOOD   SHORT  S   WOOD
3  E6  M  23  1838   HIGHWAY     ?  2  N  THROUGH  WOOD       ?  S   WOOD
4  E7  A  27  1840   HIGHWAY   990  2  N  THROUGH  WOOD  MEDIUM  S   WOOD

1) df[4] contains PURPOSE  
Print the count of each level of PURPOSE

In [27]:
data['HIGHWAY'].value_counts()

HIGHWAY     70
RR          32
AQUEDUCT     4
WALK         1
Name: HIGHWAY, dtype: int64

2) Build dummy variables out of PURPOSE, including prefix *purp*.  
Append the dummies to the dataframe, and drop the PURPOSE field.  
Print the first 3 rows to check things look correct.  
The dummy variables should contain binary values.

3) Sort the data by df[1] and then df[2]. Print some rows to verify things look correct.  
Hint: Generally you will pass a list of strings for sorting, but here you will pass a list of integers since fields are integer type.